@charset "utf-8";

html,body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  font-size:.32rem;
}
.mapbox {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow: hidden;
}
.pagesbox {
  display: -webkit-box;
  width:10000%;
  height:100%;
  -webkit-transition:-webkit-transform linear .2s;
}

.page-item {
  width:15rem;
}